:root {
	--text-primary: #353537;
  --btn-background: #353537;
  --btn-background-hover: #2A2B2D;
  --btn-background-active: #131315;
	--btn-color: #ffffff;
}

.ff-brainFlower { font-family: "Brain Flower" }
.ff-coronaTypewriter { font-family: "Corona Typewriter" }
.ff-veteranTypewriter { font-family: "Veteran Typewriter" }

.text-center { text-align: center }

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
footer {
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.75rem;
	font-family: 'Corona Typewriter';
}

.wrapper {
	padding: 3rem 0 0;
	min-height: calc(100vh - 7rem);
}
.banner, footer {
	text-align: center;
}
.banner img {
	max-width: 100vw;
}

.nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.nav a {
	display: block;
	color: var(--btn-color);
	font-size: clamp(1.25rem, 7vw, 2.5rem);
	background-color: var(--btn-background);
	outline: solid 2px var(--btn-background);
	border: solid 2px var(--btn-color);
	text-decoration: none;
	padding: 0.5rem;
	margin: 0.5rem;
	width: 20vw;
	max-width: 7rem;
}
.nav a:hover {
	background-color: var(--btn-background-hover);
}
.nav a:active, .nav a:not([href]) {
	background-color: var(--btn-background-active);
}

.typewrited-text {
	width: 82vw;
	max-width: 540px;
	margin: 3rem auto 0;
}
.typewrited-text h3 {
	font-size: clamp(0.95rem, 4.7vw, 1.6rem);
	line-height: 1.2;
}

.contact-info {
	width: calc(100% - 3rem);
	max-width: 600px;
	margin: auto;
	padding: 5rem 0 0 3rem;
	line-height: 2;
	font-size: 0.8rem;
}
.contact-info > div {
	display: flex;
	align-items: center;
}
.contact-info svg {
	max-width: 1rem;
	margin-right: 0.5rem;
}

#tales-container {
	margin-bottom: 4rem;
}
#tales-container img {
	width: 70vw;
	max-width: 460px;
	opacity: 0.5;
}
#tales-container p {
	font-size: clamp(0.95rem, 4.7vw, 1.6rem);
	line-height: 1.33;
	width: 82vw;
	max-width: 840px;
	margin: auto;
}
#tales-container img {
	animation: changeOpacity 4s ease-in-out 0s forwards alternate infinite;
}
#tales-container p {
	animation: changeOpacity2 2s ease-in-out 0s forwards;
}
@keyframes changeOpacity {
	0% { opacity: 0.5; }
	100% { opacity: 0.8; }
}
@keyframes changeOpacity2 {
	0% { opacity: 0.7; }
	100% { opacity: 1; }
}
