.align-vertically {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon
    .fab {
        color: #f56a6a;
    }

.pointer {
    cursor: pointer;
}

.features
    article
        .icon:after {
            border: solid 1px rgb(235, 235, 235);
        }


@media screen and (max-width: 767px) {
    .features article .icon:after {
        border: none;
    }
    .features article {
        width: 50%;
        text-align: center
    }
    .features article .icon {
        margin: auto
    }
}
